<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="col" class="com.app.model.Color">
		<constructor-arg value="RED"></constructor-arg>
	</bean>

	<bean id="col2" class="com.app.model.Color">
		<constructor-arg value="WHITE"></constructor-arg>
	</bean>


	<bean id="pro" class="com.app.model.Product">
		<constructor-arg value="101"></constructor-arg>
		<constructor-arg value="Mobile"></constructor-arg>
		<constructor-arg>
			<list>
				<ref bean="col" />
				<ref bean="col2" />
			</list>

		</constructor-arg>
	</bean> 
   
  
  </beans>